* {
    scroll-behavior: smooth;
}

body, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

.hide {
    display: none;
}