* {
    scroll-behavior: smooth;
}

body, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.redText {
    color: rgba(255, 0, 0, 0.9);
}